<nav class="bg-white mb-1 p-4 flex items-center justify-between">
  <!-- Branding on the left -->
  <div class="flex items-center space-x-3">
    <!-- <img src="assets/logo.svg" alt="Brand Logo" class="h-8 w-auto" /> -->
    <span class="text-2xl text-green-500 font-bold">Magic Ports</span>
  </div>

  <!-- Buttons on the right -->
  <div class="flex items-center space-x-2">
    <button
      pButton
      type="button"
      icon="pi pi-cloud-upload"
      iconPos="right"
      label="Upload"
      size="small"
      class="p-button-success"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-cloud-download"
      iconPos="right"
      label="Download"
      size="small"
      class="p-button-success"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-file-excel"
      iconPos="right"
      label="Export Excel"
      size="small"
      class="p-button-success"
    ></button>
  </div>
</nav>
