<div class="grid grid-cols-[25%_75%] h-[calc(80vh-100px)] w-full">
  <!-- Left column (sidebar) -->
  <div
    class="flex flex-col h-full pr-4 overflow-y-auto border-r border-gray-200"
  >
    <div class="flex items-center justify-between mb-4 mt-4">
      <button
        (click)="addNewServer()"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        Add Server
      </button>
    </div>
    <h2 class="text-lg font-medium mb-4">Servers</h2>
    <div class="flex-1">
      @for (server of servers; track server.id) {
      <div (click)="selectServer(server)" class="cursor-pointer">
        <app-server
          [server]="server"
          [isSelected]="!!(selectedServer && selectedServer.id === server.id)"
          (editServer)="editServer($event)"
          (deleteServer)="deleteServer($event)"
        >
        </app-server>
      </div>
      }
    </div>
  </div>

  <!-- Right column (main content) -->
  <div class="h-full overflow-y-auto pl-4 pr-4 w-full h-full">
    @if (selectedServer) {
    <app-configuration [server]="selectedServer"></app-configuration>
    } @else {
    <div class="flex items-center justify-center h-full">
      <p class="text-gray-500">Please select a server to configure</p>
    </div>
    }
  </div>
</div>

<app-add-server-dialog
  [visible]="showServerDialog"
  [serverToEdit]="serverToEdit"
  (saveServer)="saveServer($event)"
  (hideDialog)="toggleDialog()"
></app-add-server-dialog>

<!-- Add these components -->
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
