<p-dialog
  [header]="dialogTitle"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-6">{{
    dialogMode === "add" ? "Add a new server" : "Edit server details"
  }}</span>

  <form [formGroup]="serverForm">
    <div class="flex items-center gap-4 mb-2">
      <label for="serverName" class="font-semibold w-24">Server Name</label>
      <div class="w-full flex flex-col">
        <span class="p-input-icon-right w-full">
          <input
            pInputText
            id="serverName"
            class="w-full"
            autocomplete="off"
            formControlName="serverName"
            [ngClass]="{ 'ng-invalid ng-dirty': isFieldInvalid('serverName') }"
          />
        </span>
        @if(isFieldInvalid('serverName')){
        <small class="p-error">
          {{ getErrorMessage("serverName") }}
        </small>
        }
      </div>
    </div>

    <div class="flex items-center gap-4 mb-6">
      <label for="serverLocation" class="font-semibold w-24">Location</label>
      <div class="w-full flex flex-col">
        <span class="p-input-icon-right w-full">
          <input
            pInputText
            id="serverLocation"
            class="w-full"
            autocomplete="off"
            formControlName="serverLocation"
            [ngClass]="{
              'ng-invalid ng-dirty': isFieldInvalid('serverLocation')
            }"
          />
        </span>
        @if(isFieldInvalid('serverLocation')){
        <small class="p-error">
          {{ getErrorMessage("serverLocation") }}
        </small>
        }
      </div>
    </div>

    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="onToggleDialog()"
      />
      <p-button
        label="Save"
        (click)="onSaveServer()"
        [disabled]="serverForm.invalid"
      />
    </div>
  </form>
</p-dialog>
